In [1]:
from canvasapi import Canvas

In [8]:
CANVAS_URL = "https://canvas.liverpool.ac.uk"
CANVAS_TOKEN = "15502~Z3rx68ayZ5BDUspm2OoFsmRKNaQOSq3ICYuvZcrsvVkzSRXSusDJ4L8lptQCoJ4w"

In [9]:
canvas = Canvas(CANVAS_URL, CANVAS_TOKEN)

In [10]:
course = canvas.get_course(54932)

In [11]:
enrollments = [x for x in course.get_enrollments(include=["user"])]

In [12]:
# order enrollments by user["sortable_name"]
enrollments.sort(key=lambda x: x.user["sortable_name"])

In [13]:
for e in enrollments:
    print(e.user["sortable_name"])

Acosta-Serrano, Alvaro
Adams, Emily
Alfirevic, Ana
Aljayyoussi, Ghaith
Allen, Fabia
Allison, Heather
Ameh, Charles
Angus, Robert
Antczak, Philipp
Antic, Dragan
Antonyuk, Svetlana
Arrowsmith, Sarah
Atkins, Rachael
Atkinson, David
Auer-Fowler, Anna
Awais, Raheela
Baker, Bex
Ball, Sam
Barclay, Jeff
Barden, Matthew
Barker, Robert
Barlow, Laura
Barr, David
Barraclough, Dong
Barrera Briceno, Lawrence
Barribeau, Seth
Barsukov, Igor
Basenko, Evelina
Bates, Andy
Bates, Karl
Baylis, Matthew
Begon, Michael
Bennett, Daimark
Bentley, Rob
Berenbrink, Michael
Betancourt, Andrea
Beynon, Rob
Biagini, Giancarlo
Blacklock, Liam
Blagrove, Marcus
Blake, Neil
Blundell, Richard
Bollback, Jonathan
Bond, Alistair
Bonnett, Laura
Bosworth, Lucy
Bou-Gharios, George
Boyd, Alan
Bronowski, Christina
Burns, Helen
Burnside, Girvan
Butts, Thomas
Byrne, Rhianne
Caamano-Gutierrez, Eva
Caddick, Mark
Caminade, Cyril
Camp, Ariel
Campbell, Barry
Campos Soares Da Rocha, Sonia
Canniffe, Daniel
Cantley, Siobhan
Cardenas-Serna, Marcela
Carr, Dan
Carter, Stuart
Casey, Charlotte
Cassidy, Sophie
Chadwick, Amy
Chapman, Elinor
Christley, Rob
Christmas, Steve
Clague, Michael
Clark, Julie
Clark, Julie
Clarke, Kim
Clegg, Peter
Clough, Helen
Cohen, Gerry
Coleman, Michael
Coombes, Janine
Cooper, Camilla
Copple, Ian
Cornell, Stephen
Cossins, Andrew
Costello-Goldring, Eithne
Coulson, Judy
Craig, Alister
Criddle, David
Cross, Michael
Cuff, Andrew
Cunliffe, Nigel
D'Aout, Kris
Dahal, Lekh
Darby, Alistair
Daroszewska, Anna
Dart, Caroline
Das, Shampa
Davies, Peers
De Magalhaes, Joao Pedro
Del Carratore, Francesco
Delf, Jonathan
Dewhurst, Andrea
Dickens, David
Dodd, Susanna
Donegan, Sarah
Dougherty, Liam
Duckworth, Carrie
Duckworth, Carrie
Duffy, Craig
Dunn, Warwick
Duret, Denis
Ebrahimi, Bahram
Edgar, Mary
Edwards, Steven
Egerton, Stephanie
Emmott, Edward
Evans, Nicholas
Eyers, Pat
Farthing, Hazel
Fenton, Andy
Fernig, David
Fitzsimmons, Julie
Fleming, Jason
Floyd, Rachel
Flynn, Robin
Foster, Jack
Foster, Jack
Fothergill, Jo
Frith, Lucy
Gallagher, James
Ganapathy, Kannan
Garcia-Finana, Marta
Gemmell, Matthew
Geraghty, Brendan
German, Alex
Ghaneh, Paula
Gleave, Terry
Glenn, Mark
Goldring, Christopher
Goodacre, Roy
Goodman, Sean
Gordon, Melita
Graham-Brown, John
Grant, Barbara
Greenhalf, Bill
Grove, Matt
Grubb, Blair
Grundy, Gabrielle
Guglielmo, Federica
Gunther, Michael
Halford, Jason
Hall, James
Hall, Steven
Hamill, Kevin
Hammond, Colin
Hammond, Dean
Hammond, Kate
Haneef, Atikah
Harris, John
Hartwell, James
Hastings, Ian
Hawcutt, Dan
Haynes, Lee
Hazell, Shaun
Healy, Fiona
Hedrich, Christian
Helassa, Nordine
Henstock, James
Hernandez Hormazabal, Jorge
Herrmann, Anne
Hertz-Fowler, Christiane
Higgins, Helen
Hill, Ruaraidh
Hinton, Jay
Hodgson, Jenny
Holmes, Elsie
Hong, David
Horsburgh, Mal
Huang, Fang
Hughes, Grant
Hughes, Juliette
Hurst, Greg
Hurst, Jane
Isanejad, Masoud
Isherwood, Joanne
Iturriza-Gomara, Miren
Iwanejko, Lesley
Jackson, Andrew
Jackson, Malcolm
Jackson, Richard
Jeffery, Nathan
Jenkins, John
Jenkinson, Michael
Jere, Khuzwayo
Johnson, Hayley
Johnson, James
Johnston, Kelly
Jones, Andy
Jones, Christopher
Jones, Meriel
Jones, Nigel
Jones, Robert
Jones, Terry
Jorgensen, Andrea
Juin, Alexina
Kadioglu, Aras
Kalakonda, Nagesh
Kane, Adam
Kanhere, Aditi
Ke, Youqiang
Kearns, Victoria
Keller, Simon
Kemp, Graham
Kenneth, Niall
Khoo, Saye
Kirkham, Jamie
Kitching, George
Knox, Paul
Lacourse, James
Laird, Elizabeth
Larsen, Carl
Latham, Sophia
Leeming, Gail
Leuwer, Martin
Levis, Hannah
Levy, Raphael
Lewis, Zenobia
Lian, Lu-Yun
Lightfoot, Nicholas
Linley, Adam
Liptrott, Neill
Liu, Luning
Lord, Jennifer
Lycett, Gareth
Lycett, John
Lycett, John
Lyth, Sophie
MacDiarmid, Rosie
MacEwan, David
Madine, Jill
Mahen, Philippa
Maher, Alice
Makepeace, Ben
Manson, Amy
Marcello, Marco
Marshall, Andrew
Mc Call, Philip
Mc Carthy, Alan
Mc Elhinney, Lorraine
McArdle, Anne
McClurg, Urszula
McGrath, Rebecca
McIntosh, Jill
Mello, Luciane Vieira de
Michalopoulou, Eleni
Midgley, Angela
Mielgo Iza, Ainhoa
Milner, Peter
Minta, Louise
Mitchell, Christopher
Molloy-Humphreys, Craig
Montagnes, David
Mooney, Cheryl
Mora, Silvia
Morgan, Alan
Morgan, Mark
Morris, Andrew
Morris, Robert
Morse, Andy
Mortimer, Kevin
Mueller, Karin
Muhamad Ali, Howbeer
Munday, Alice
Murray, Patricia
Nadal-Jimenez, Pol
Naisbitt, Dean
Neill, Daniel
Ng, Lisa
Nixon, Gemma
Noble, Karen
Nolan, Tony
O'Maoileidigh, Diarmuid
O'Neill, Paul
Oikonomou, George
Olagunju, Adeniyi
Oldershaw, Rachel
Ottensmeier, Christian
Owen, Andrew
Paine, Mark
Paoletti, Paolo
Papamichos Chronakis, Manolis
Paraoan, Luminita
Parker, Megan
Parr, Kate
Parsons, Jason
Paterson, Steve
Patterson, Grace
Paxton, Bill
Pearngam, Phorutai
Pekovic-Vaughan, Vanja
Perez-Mancera, Pedro
Phelan, Marie
Pickard, Susan
Pinchbeck, Gina
Pirmohamed, Munir
Plagge, Antonius
Plaistow, Stewart
Pollakis, Georgios
Poptani, Harish
Poulet, Blandine
Prendergast, Clodagh
Price, Thomas
Prior, Ian
Pushpakom, Sudeep
Quayle, John
Quinn, John
Radford, Alan
Rainbow, Richard
Ranson, Hilary
Reeve, Carly
Reimer, Lisa
Ressel, Lorenzo
Rhodes, Nicholas
Ricci, Emanuele
Rigden, Dan
Robinson, Daniel
Ross, Kelly
Ross, Kelly
Rotheram, Suzanne
Rothwell, Alexander
Rudland, Philip
Rushton, Jonathan
Rusilowicz, Emma
Rylance, Jamie
Saccheri, Ilik
Sacco, Joseph
Sakai, Takao
Sakyi, Lesley
Salcedo Sora, Jesus Enrique
Salmon, Kieron
Sanchez Soriano, Natalia
Sanderson, Chris
Savage, Natasha
Savelyeva, Natalia
Schmid, Michael
Scott, David
See, Violaine
Semple, Calum
Senior, Mark
Seyed Forootan, Shiva
Shadia, Khandaker
Shanmugasundram, Achchuthan
Sharma, Parveen
Sharma, Vijay
Sharp, Alana
Shaw, Richard
Sheard, Sally
Sheridan, Carl
Shirazi-Beechey, Soraya
Siccardi, Marco
Simpson, Alec
Singh, Ishwar
Slupsky, Joseph
Smith, Rob
Sneddon, Lynne
Solomon, Tom
Southern, Kevin
Speed, Mike
Speed, Mike
Stack, John
Stagi, Massimiliano
Staunton, Caroline
Stewart, James
Stewart, Martyn
Stollar, Elliott
Stothard, Russ
Subramaniam, Krishanthi
Swan, Laura
Tang, Joseph Mf
Taylor, Mark
Tepikin, Alexey
Tew, Simon
Thomas, Neil
Tierney, Claire
Torr, Stephen
Treharne, Robert
Treharne, Robert
Turnbull, Jerry
Turner, David
Turner, Joseph
Turtle, Lance
Urbanowicz, Richard
Urbe, Sylvie
Van 'T Hof, Rob
Van De Wijgert, Janneke
Varadarajan, Shankar
Vasilaki, Aphrodite
Verspoor, Rebecca
Vimalachandran, Dale
Vineer, Hannah
Viney, Mark
Vlatkovic, Nikolina
Voelkel, Susanne
Voelkel, Susanne
Wallace, Helen
Walley, Peter
Walmsley, Gemma
Wang, Duolao
Wardeh, Maya
Wattret, Gemma
Wedley, Amy
Weetman, David
Westgarth, Carri
Wharton, Matthew
Wharton, Matthew
Whiting-Fawcett, Flora
Whitlock, Raj
Whysall, Kasia
Wigby, Stuart
Wigley, Paul
Wilkie, Lindsey
Wilkinson, David
Williams, Nicola
Williams, Rachel
Wilm, Bettina
Wilson, Anne
Winder, Catherine
Winfield, Tom
Winstanley, Craig
Woolley, John
Wray, Susan
Yang, Marie
Yates, Ed
Yearwood-Jackman, Shirley
Young, Iain
Young, Lorna
Yu, Lu-Gang
Zech, Tobias
Zhang, Qibo
Zheng, Yalin
Zhuang, Jack
Zytynska, Sharon
student, Test

In [14]:
from fuzzywuzzy import process

def find_most_likely_match(input, names):
    best_match = process.extractOne(input, names)
    return best_match[0]

c:\Users\treharne\AppData\Local\Programs\Python\Python312\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [22]:
names = [e.user["sortable_name"] for e in enrollments]

In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("supervisors_2.csv")

In [18]:
df.head()

,last_name,first_name,projects_UG,projects_PG,max_projects,username,email
0,Antonyuk,Svetlana,NaN,NaN,4,NaN,NaN
1,Barclay,Jeff,NaN,NaN,4,NaN,NaN
2,Barsukov,Igor,NaN,NaN,4,NaN,NaN
3,Byrne,Dominic,1.0,1.0,2,NaN,NaN
4,Canniffe,Daniel,NaN,NaN,4,NaN,NaN

In [19]:
# replace NaN in projects_UG with integer value 3
df["projects_UG"] = df["projects_UG"].fillna(3)
df["projects_PG"] = df["projects_PG"].fillna(1)

In [20]:
df.head()

,last_name,first_name,projects_UG,projects_PG,max_projects,username,email
0,Antonyuk,Svetlana,3.0,1.0,4,NaN,NaN
1,Barclay,Jeff,3.0,1.0,4,NaN,NaN
2,Barsukov,Igor,3.0,1.0,4,NaN,NaN
3,Byrne,Dominic,1.0,1.0,2,NaN,NaN
4,Canniffe,Daniel,3.0,1.0,4,NaN,NaN

In [24]:
def get_enrollment_by_sortable_name(name, enrollments):
    for e in enrollments:
        if e.user["sortable_name"] == name:
            return e
    return None

In [33]:
staff = get_enrollment_by_sortable_name("Carleson, Emile", enrollments)
staff.user["sis_user_id"]

AttributeError: 'NoneType' object has no attribute 'user'

In [27]:
# loop through df and find the most likely match for each supervisor
for index, row in df.iterrows():
    try:
        name = f"{row["last_name"]}, {row["first_name"]}"
        match = find_most_likely_match(name, names)
        username = get_enrollment_by_sortable_name(match, enrollments).user["sis_user_id"]
        
        # remove 6 digit number from username
        username = username[6:]
        
        # update df with username
        df.at[index, "username"] = username

        print(f"{name} -> {match} -> {username}")
    except:
        print(f"Error with {name}")

Antonyuk, Svetlana -> Antonyuk, Svetlana -> antonyuk
Barclay, Jeff -> Barclay, Jeff -> barclayj
Barsukov, Igor -> Barsukov, Igor -> igb2
Byrne, Dominic -> Byrne, Rhianne -> rbyrne
Canniffe, Daniel -> Canniffe, Daniel -> canniffe
Chetwynd, Andrew -> Owen, Andrew -> aowen
Clague, Mike -> Clague, Michael -> clague
Darling , Nicola -> Evans, Nicholas -> evansnj
Dart, Caroline -> Dart, Caroline -> cdart
Del Carratore, Francesco -> Del Carratore, Francesco -> mqbpqfd2
Dunn, Rick -> Dunn, Warwick -> dunnw
Emmott, Edward -> Emmott, Edward -> edemmott
Eyers, Patrick -> Eyers, Pat -> paeyers
Eyers, Claire -> Tierney, Claire -> ctierney
Fernig, David -> Fernig, David -> dgfernig
Goodacre, Roy -> Goodacre, Roy -> roygood
Hartwell, James -> Hartwell, James -> hartwell
Hasnain, Samar -> Das, Shampa -> shampa
Helassa, Nordine -> Helassa, Nordine -> nhelassa
Jones, Andrew -> Jones, Andy -> jonesar
Kell, Douglas -> Ke, Youqiang -> yqk
Kenneth, Niall -> Kenneth, Niall -> nnsk1
Lu-Gang, Yu -> Yu, Lu-Gang -> lgyu
Luning , Liu -> Liu, Luning -> lnliu
Madine, Jillian -> Madine, Jill -> mjfi9jw2
McClurg, Urszula -> McClurg, Urszula -> nub2
Muhamad Ali, Howbeer -> Muhamad Ali, Howbeer -> howbeer
Plagge, Antonius -> Plagge, Antonius -> plagge
Rigden, Daniel -> Rigden, Dan -> drigden
Rocha , Sonia -> Campos Soares Da Rocha, Sonia -> srocha
Sanchez Soriano, Natalia -> Sanchez Soriano, Natalia -> natalia1
Savage, Natasha -> Savage, Natasha -> nsavage
Scheltema, Richard -> Shaw, Richard -> rjshaw
Stagi, Massimiliano -> Stagi, Massimiliano -> maxstagi
Swan, Laura -> Swan, Laura -> lauras
Urbe, Sylvie -> Urbe, Sylvie -> urbe
Walley , Peter -> Walley, Peter -> hrsgas
Yates, Edwin -> Yates, Ed -> eayates
Goult, Ben -> Geraghty, Brendan -> bren
MacMillan, Kirsty -> Hamill, Kevin -> khamill
Kritsiligkou, Pari -> Knox, Paul -> pcknox
Moore, Bernadette -> Morris, Robert -> rm10
 Duckworth, Carrie -> Duckworth, Carrie -> carried
Costello-Goldring, Eithne -> Costello-Goldring, Eithne -> ecostell
Criddle,  David -> Criddle, David -> criddle
Grundy , Gabriella -> Grundy, Gabrielle -> ggrundy
Greenhalf ,  William -> Greenhalf, Bill -> greenhaf
Kanhere , Aditi -> Kanhere, Aditi -> kanherea
Mielgo Iza , Ainhoa -> Mielgo Iza, Ainhoa -> amielgo
Morgan,  Mark  -> Morgan, Mark -> mmorgan
Papamichos Chronakis, Emmanouil  -> Papamichos Chronakis, Manolis -> manolis
Perez-Mancera,  Pedro  -> Perez-Mancera, Pedro -> perezm01
Poptani,  Harish  -> Poptani, Harish -> harishp
Saveleyva,  Natalia  -> Savelyeva, Natalia -> ns1
Schmid , Michael -> Schmid, Michael -> mschmid
Sciacovelli,  Marco -> Marcello, Marco -> marcomar
Slupsky, Joe -> Slupsky, Joseph -> jslupsky
Tepikin,  Alexey -> Tepikin, Alexey -> kiev
Zech, Tobias -> Zech, Tobias -> tzech
Glenn, Mark  -> Glenn, Mark -> maglenn
Young, Lorna -> Young, Lorna -> lyoung
 Hammond , Colin -> Hammond, Colin -> chammond
Atherton , Paul  -> Knox, Paul -> pcknox
Merino , Marisa  -> Morgan, Mark -> mmorgan
Error with Budden, Tim
Halloran , Chris -> Allison, Heather -> hallison
Hunter , Keith  -> Turner, Joseph -> lstmjdt
Vimalachandran, Dale* -> Vimalachandran, Dale -> dalevim
Barrera Briceno, Lawrence -> Barrera Briceno, Lawrence -> lbarrera
Randle, Laura -> Swan, Laura -> lauras
Mondru, Anil Kumar -> Morse, Andy -> apmorse
Lister, Adam -> Linley, Adam -> alinley
You, Tao -> Young, Iain -> isyoung
Keller, Simon -> Keller, Simon -> kellers
Burton, Rebecca-Ann -> McGrath, Rebecca -> rmcgrath
Middlehurst, Ben -> Dewhurst, Andrea -> 412andreadd
Meng, Xiaoli -> Ng, Lisa -> lisangfp
Olagunju, Adeniyi -> Olagunju, Adeniyi -> olagunju
Dahal, Lekh -> Dahal, Lekh -> lekh
McCormick, Peter -> Milner, Peter -> pmilner
Dale, Caroline -> Dart, Caroline -> cdart
Goldring, Christopher -> Goldring, Christopher -> chrissy
Chadwick, Amy -> Chadwick, Amy -> aemercer
Naisbitt, Dean -> Naisbitt, Dean -> dnes
Pushpakom, Sudeep -> Pushpakom, Sudeep -> sudeepp
Dickens, David -> Dickens, David -> dsd015
MacEwan, David -> MacEwan, David -> macewan
Cross, Michael -> Cross, Michael -> mjcross
Copple, Ian -> Copple, Ian -> icopple
Carr, Daniel -> Carr, Dan -> dancarr
Liptrott, Neill -> Liptrott, Neill -> liptrott
Das, Shampa -> Das, Shampa -> shampa
Sharma, Parveen  -> Sharma, Parveen -> psharma
Allen, Fabia -> Allen, Fabia -> flallen
Awais, Raheela -> Awais, Raheela -> rawais
Bates, Andrew -> Bates, Andy -> bates
Chapman, Elinor -> Chapman, Elinor -> echapman
Floyd, Rachel -> Floyd, Rachel -> floyd78
Gleave, Terrence -> Gleave, Terry -> tlgleave
Grant, Barbara -> Grant, Barbara -> bgrant2
Hammond, Katherine -> Hammond, Kate -> kateh
Jones, Nigel -> Jones, Nigel -> njjones
Larsen, Carl -> Larsen, Carl -> clarsen
Lycett, John -> Lycett, John -> lycett
Maher, Alice -> Maher, Alice -> alicema
Mitchell, Christopher -> Mitchell, Christopher -> cmitch
Morris, Robert -> Morris, Robert -> rm10
Ross, Kelly -> Ross, Kelly -> 395kellyr
Simpson, Alec -> Simpson, Alec -> awms
Speed, Mike -> Speed, Mike -> speedm
Stollar, Elliott -> Stollar, Elliott -> stollare
Treharne, Robert -> Treharne, Robert -> treharne
Verspoor, Rudi -> Verspoor, Rebecca -> jonesrs
Vieira De Mello Rigden, Luciane -> Mello, Luciane Vieira de -> lumello
Voelkel, Susanne -> Voelkel, Susanne -> svoelkel
Wattret, Gemma -> Wattret, Gemma -> glc
Rainbow, Richard -> Rainbow, Richard -> rdr8
Sharma, Parveen -> Sharma, Parveen -> psharma
Bosworth, Lucy -> Bosworth, Lucy -> lab81
Carlsson, Emil -> Cross, Michael -> mjcross
Kearns, Victoria -> Kearns, Victoria -> vkearns
Levis, Hannah -> Levis, Hannah -> hlevis
Medina, Reinhold -> Mielgo Iza, Ainhoa -> amielgo
Sheridan, Carl -> Sheridan, Carl -> carlos
Zheng, Yalin -> Zheng, Yalin -> yzheng
Zhao, He -> Wharton, Matthew -> mwharton
Zihni, Ceniz -> Zhang, Qibo -> cdxqbz
Bates, Karl -> Bates, Karl -> mbexekb3
Bou-Gharios, George -> Bou-Gharios, George -> ggharios
Camp, Ariel -> Camp, Ariel -> acamp
D'Aout, Kris -> D'Aout, Kris -> kdaout
Geraghty, Brendan -> Geraghty, Brendan -> bren
Hughes, Juliette -> Hughes, Juliette -> jhhughes
Isanejad, Masoud -> Isanejad, Masoud -> masoudi
Jackson, Malcolm -> Jackson, Malcolm -> mjj
Jeffery, Nathan -> Jeffery, Nathan -> njeffery
Laird, Liz -> Laird, Elizabeth -> eglaird
McArdle, Anne -> McArdle, Anne -> mdcr02
Poulet, Blandine -> Poulet, Blandine -> bpoulet
Sharp, Alana -> Sharp, Alana -> acsharp
Staunton, Caroline -> Staunton, Caroline -> staunton
Tew, Simon -> Tew, Simon -> tew
Turner, David -> Turner, David -> dat40
Vasilaki, Aphrodite -> Vasilaki, Aphrodite -> vasilaki
Wilkinson, David -> Wilkinson, David -> ldjw8
Wright, Helen -> Clough, Helen -> wilsonh
Yamamoto, Kazu -> Hammond, Kate -> kateh
Murray, Trish -> Murray, Patricia -> embryo
Wilm, Bettina -> Wilm, Bettina -> bwilm
Allison, Heather -> Allison, Heather -> hallison
Abrams, Simon -> Tew, Simon -> tew
Cornick, Jennifer -> Lord, Jennifer -> jenlord
Fothergill, Jo -> Fothergill, Jo -> jofoth
Hinton, Jay -> Hinton, Jay -> hintonj
Jere, Khuzwayo -> Jere, Khuzwayo -> kjere
Kadioglu, Aras -> Kadioglu, Aras -> ak68
Khandaker, Shadia -> Shadia, Khandaker -> shadia
Paxton, Bill -> Paxton, Bill -> wapaxton
Pollakis, Georgios -> Pollakis, Georgios -> pollakis
Wedley, Amy -> Wedley, Amy -> awedley
Atkinson, David -> Atkinson, David -> davida
Berenbrink, Michael -> Berenbrink, Michael -> michaelb
Blagrove, Marcus -> Blagrove, Marcus -> grte0276
Cornell, Stephen -> Cornell, Stephen -> scornell
Dawson, Wayne -> Wilson, Anne -> wilsonal
Dougherty, Liam -> Dougherty, Liam -> lrdough
Fenton, Andy -> Fenton, Andy -> acf1
Hall, James -> Hall, James -> jpjhall
Hurst, Greg -> Hurst, Greg -> ghurst
Luo, Shan -> Hazell, Shaun -> shazell
Paterson, Steve -> Paterson, Steve -> stevep11
Plaistow, Stew -> Plaistow, Stewart -> stewp123
Rowland, Hannah -> Levis, Hannah -> hlevis
Saccheri, Ilik -> Saccheri, Ilik -> saccheri
Tyukmaeva, Venera -> Antonyuk, Svetlana -> antonyuk
Viney, Mark -> Viney, Mark -> mev
Whitlock, Raj -> Whitlock, Raj -> whitlock
Wigby, Stuart -> Wigby, Stuart -> swigby
Zytynska, Sharon -> Zytynska, Sharon -> zytynska
Ainsworth, Stuart -> Carter, Stuart -> scarter
Campbell, Barry -> Campbell, Barry -> bjcampbl
Darby, Al -> Darby, Alistair -> acdarby
Evans, Nick -> Evans, Nicholas -> evansnj
Ganapathy, Kannan -> Ganapathy, Kannan -> gana
Hiscox, Julian -> Ng, Lisa -> lisangfp
Horsburgh, Mal -> Horsburgh, Mal -> malhorsb
Jackson, Andrew -> Jackson, Andrew -> apj1979
Makepeace, Ben -> Makepeace, Ben -> blm1
Naguib, Mahmoud -> Isanejad, Masoud -> masoudi
Radford, Alan -> Radford, Alan -> alanrad
Shirazi-Beechey, Soraya -> Shirazi-Beechey, Soraya -> spsb
Stewart, James -> Stewart, James -> jpstewar
Subramaniam, Krishanthi -> Subramaniam, Krishanthi -> ksubrama
Urbanowicz, Richard -> Urbanowicz, Richard -> richurbe
Vineer, Hannah -> Vineer, Hannah -> hannahv
Davies, Peers -> Davies, Peers -> pld
Kelly-Hope, Louise -> Ross, Kelly -> 395kellyr
Latham, Sophia -> Latham, Sophia -> slatham
Millins, Caroline -> Dart, Caroline -> cdart
Scantlebury, Claire -> Tierney, Claire -> ctierney
Westgarth, Carri -> Westgarth, Carri -> carriw
Williams, Nicola -> Williams, Nicola -> njwillms

In [28]:
df.head()

,last_name,first_name,projects_UG,projects_PG,max_projects,username,email
0,Antonyuk,Svetlana,3.0,1.0,4,antonyuk,NaN
1,Barclay,Jeff,3.0,1.0,4,barclayj,NaN
2,Barsukov,Igor,3.0,1.0,4,igb2,NaN
3,Byrne,Dominic,1.0,1.0,2,rbyrne,NaN
4,Canniffe,Daniel,3.0,1.0,4,canniffe,NaN

In [29]:
df.to_csv("supervisors_3.csv", index=False)